<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11E53</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CodaScriptPlugIn</string>
	<key>CFBundleIconFile</key>
	<string>plug-in</string>
	<key>CFBundleIdentifier</key>
	<string>com.panic.CodaScriptPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CodaPlugInMinimumAPIVersion</key>
	<string>5</string>
	<key>CodaPlugInSupportedAPIVersion</key>
	<integer>6</integer>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>4E2002</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>10K549</string>
	<key>DTSDKName</key>
	<string>macosx10.6</string>
	<key>DTXcode</key>
	<string>0432</string>
	<key>DTXcodeBuild</key>
	<string>4E2002</string>
	<key>NSPrincipalClass</key>
	<string>CodaScriptPlugIn</string>
	<key>commands</key>
	<array>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>document</string>
			<key>keyEquivalent</key>
			<string>~^b</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Beautify (ctrl+alt+B)</string>
			<key>output</key>
			<string>replaceDocument</string>
			<key>postprocess</key>
			<string>none</string>
			<key>preprocess</key>
			<string>save</string>
			<key>script</key>
			<string>beautifier.php</string>
			<key>setInsertionPoint</key>
			<false/>
			<key>uuid</key>
			<string>6A12EB71-688D-4AE9-B32B-55686927FBBE</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>keyEquivalent</key>
			<string>~^s</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Code Style Sniff</string>
			<key>output</key>
			<string>newDocument</string>
			<key>postprocess</key>
			<string>none</string>
			<key>preprocess</key>
			<string>save</string>
			<key>script</key>
			<string>checkstyle.php</string>
			<key>uuid</key>
			<string>FF2FF625-7B4A-477E-8D1D-512A762F0C2A</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>keyEquivalent</key>
			<string>~^m</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Mess Detect</string>
			<key>output</key>
			<string>showAsHTML</string>
			<key>preprocess</key>
			<string>save</string>
			<key>script</key>
			<string>messdetector.php</string>
			<key>uuid</key>
			<string>DEE602D9-E7E4-44E7-868C-11EBFCA92E42</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>none</string>
			<key>keyEquivalent</key>
			<string>~^g</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>DocBlock Generator</string>
			<key>output</key>
			<string>replaceDocument</string>
			<key>postprocess</key>
			<string>none</string>
			<key>preprocess</key>
			<string>save</string>
			<key>script</key>
			<string>docblockgenerator.php</string>
			<key>setInsertionPoint</key>
			<true/>
			<key>uuid</key>
			<string>82331966-C09B-41A3-94B3-69DE9E9917CD</string>
		</dict>
	</array>
</dict>
</plist>
